/*
  Imports
*/
@import url("https://use.typekit.net/knt8jun.css");


/*
  Variables
*/
$base-color: #BAD1E2;
$base-color-darker-10: darken($base-color, 10);
$base-color-darker-20: darken($base-color, 20);
$base-color-darker-30: darken($base-color, 30);

/*
  Elements
*/
html, body {
  height: 100%;

  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;

  background-color: $base-color;

  overflow: hidden;
}

.regular-font {
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bold-font {
  font-family: nimbus-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
}
§
.base-background {
  background-color: $base-color;
}

.app-viewport {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.welcome-logo {
  .logo {
    
    width: 250px;

    img {
      width: 100%;
    }
  }
}

.welcome-text {
  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }
}

.welcome-preview {
  .canvas-container {
    width: 350px; 
    height: 350px; 
    border: 1px solid black;
  }
}

.error-modal, .success-modal {
  background-color: black;
  color: $base-color-darker-10;

  p {
    font-size: 1.2rem;
  }
}